/* Navigation bar */

.logo a{
    color: #000;
    font-weight: bold;
    padding-left: 100px;
}

.navigation{
    background-color: #e7e7e7;
    font-weight: bold;

}
.navigation > ul{
    padding-left: 60px;
  
}
.navigation > ul > li{
    margin-left: 40px;
}

.navigation > ul > li > a{
    font-size: 18px;
}
.navigation > ul > li > a:hover{
    color: black !important;
}

.submit_forms{
    margin-left: 150px;
}

#tabil > table > thead > tr >th{
    text-align: center !important;
    font-size: 16px;
    font-weight: bold;
}
.table > tbody > tr >td{
    font-size: 14px!important;
}

/* pagination */
.pagination{
    margin: 0px!important;
}
.pagination > li > a{
    padding: 10px 25px;
    font-size: 14px;
    font-weight: bold;
    color: black;
}
